@{
    Layout = null;
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>Вечеринка!!!</title>
    </head>
    <body>
        <div>
            Вы приглашены на вечеринку
            <hr/>
            <a asp-action="RsvpForm">RSPV Now</a>
        </div>
    </body>
</html>
