@model IEnumerable<FirstAsp.Models.GuestResponse>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>Index</title>
    </head>
    <body>
        <h2>С вами в компанни будут</h2>
        <table>
            <thead>
                <tr><th>Имя</th><th>Email</th><th>Телефон</th></tr>
            </thead>
            <tbody>
                @foreach(FirstAsp.Models.GuestResponse r in Model!)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Phone</td>
                </tr>
            }
        </tbody>
        </table>
    </body>
</html>
